.form-field {
  display: block;
  width: 100%;

  &__wrapper {
    position: relative;
    display: block;
  }

  &__inner {
    position: relative;
  }

  &__decoration {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: $dark-color;
    @include transition(all .2s linear);
  }

  &__header {
    padding: 0 0 5px 0;
    text-align: left;

    @media (min-width: $mobile-m) {
      padding: 0 0 8px 0;
    }

    @media (min-width: $tablet-m) {
      text-align: left;
    }
  }

  &__title {
    color: $dark-color;
    position: relative;
    font-weight: 500;
    font-size: $main-font-size;
    @include transition(all .2s linear);

    @media (min-width: $desktop-xl) {
      font-size: $main-font-size-01;
    }
  }

  &__core {
    display: block;
    padding: 8px 8px;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    border: 1px solid $dark-color-op20;
    background: none;
    color: $dark-color;
    position: relative;
    font-size: $main-font-size;
    text-align: left;
    z-index: 5;
    font-family: $sans-serif-font-family;
    font-weight: 400;
    outline: none;
    @include transition(all .2s linear);
    @include box-sizing(border-box);
    @include border-radius(0);

    @media (min-width: $desktop-xl) {
      font-size: $main-font-size-01;
      padding-left: 12px;
      padding-right: 12px;
    }

    &:focus {
      border-color: $dark-color;
    }
  }

  &__core::-webkit-input-placeholder,
  &__core:-moz-placeholder,
  &__core::-moz-placeholder,
  &__core:-ms-input-placeholder {
    color: $light-color-04;
    opacity: 1;
    text-align: center;

    @media (min-width: $tablet-m) {
      text-align: left;
    }
  }

  &.form-field--error {
    .form-field__title {
      color: $error-color;
    }

    .form-field__core {
      border-color: $error-color;
    }
  }
}

.form-field--underline {
  .form-field__header {
    padding: 0 0 2px 0;

    @media (min-width: $mobile-m) {
      padding: 0 0 5px 0;
    }
  }

  .form-field__core {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}