.std-overlayer {
	background: rgba(0, 0, 0, .7);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}

	&__inner {
		background: $light-color;
		padding: 32px 20px;
		margin: 40px 0;

		@media (min-width: $tablet-s) {
			margin: 60px 32px;
			padding: 40px;
		}

		@media (min-width: $desktop-m) {
			margin: 80px auto;
			max-width: 900px;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	&__loading-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		display: none;
	}
}

.ajax-overlayer-button {
	cursor: pointer;
}