.horizontal-form {
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    padding: 0 16px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}