.details-list-item {
	padding: 20px 0;
	border-top: 1px solid $light-color-10;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__icon-container {
		padding: 0 0 0 32px;
	}

	&__content-container {
		padding: 20px 0 0 0;
	}
}
.details-list-item--lose-the-separator-on-desktop {
	@media (min-width: $tablet-m) {
		padding-top: 0;
		border-top: 0;
	}
	
}
.details-list-item--lose-the-separator-always {
	padding-top: 0;
	border-top: 0;
}