.extended-icon {
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -10000px;
  text-align: left;
    @include transition(all .2s linear);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include transition(all 0.2s linear);
  }

  &:after {
    opacity: 0;
  }
}
.extended-icon--interactive {
  cursor: pointer;

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }

  }
}
