.icon-loader {
  width: 32px;
  height: 32px;
  display: block;
  background: url('/img/icon/loading-icon.svg') no-repeat center;
  background-size: contain;
  @include animation(Rotate 2s infinite linear);
}
.icon-loader--small {
  width: 20px;
  height: 20px;
}
.icon-loader--light {
  background-image: url('/img/icon/loading-icon-light.svg');
}

.icon-loader--large{
  width: 40px;
  height: 40px;
}