.bounded-section {
  max-width: 500px;
}

.presentation-list {
  list-style-type: none;

  > li {
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
.presentation-list--more-space {
  > li {
    padding: 32px 0;
  }
}

.plain-list {
  list-style-type: none;

  > li {
    padding: 2px 0;
    display: block;
  }
}

.section-for-light-examples {
  background: $dark-color-01;
  padding: 32px 0;
}

.examples-list {
  list-style-type: none;
  padding: 0 0 0 20px;

  > li {
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.subsections {
  list-style-type: none;

  > li {
    padding: 32px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.subsection {
  padding: 32px;
  background: $light-color-03;
}

.listing {
  border: 1px solid $light-color-07;
  background: $light-color-02;
  padding: 20px 16px;
}

.simple-listing {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 20px 0;
}

.figure {
  &__header {
    padding: 0 0 10px 0;
  }
}

.caption-title {
  font-weight: 400;
  font-style: italic;
  font-size: $main-font-size;

  &__number {
    font-weight: 700;
    font-style: normal;

    &:after {
      content: ' –';
      margin: 0 4px 0 4px;
      font-weight: 400;
    }
  }
}

.inline-code {
  color: $light-color-06;
  font-style: italic;
  font-weight: 400;
}

.code {
  font-weight: 400;
  font-family: $monospace-font-family;
}

.presentation-section {
  &__listing {
    padding: 20px 0 0 0;
  }
}

.comparison-section {
  position: relative;

  &:before {
    @media (min-width: $tablet-m) {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $light-color-01;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}

.comparison-row {
  @media (min-width: $tablet-m) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__result {
    @media (min-width: $tablet-m) {
      width: 50%;
      @include box-sizing(border-box);
    }
  }

  &__source {
    background: $light-color-01;

    @media (min-width: $tablet-m) {
      width: 50%;
      @include box-sizing(border-box);
    }
  }
}

.row {
  padding: 40px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.descripted-items-section {
  padding: 0 240px 0 0;

  &__item {
    position: relative;
  }

  &__item-description {
    position: absolute;
    left: 100%;
    text-align: right;
    top: 0;
    width: 240px;
    border-top: 1px dashed $light-color-06;
    border-right: 1px dashed $light-color-06;
    padding: 8px 12px 0 0;
    font-size: $small-font-size;
    color: $light-color-06;
    @include box-sizing(border-box);

  }

  &__item-description--second {
    top: 40px;
    width: 200px;
  }
}

.article {
  &__introduction {
    padding: 0 0 20px 0;
  }

  &__row {
    padding: 32px 0 0 0;
  }

  &__footer {
    margin: 40px 0 0 0;
  }
}

.color-sample {
  width: 24px;
  height: 24px;
  @include transition(all .2s ease-in-out);
}
.color-sample--bright {
  border: 1px solid $dark-color;
  @include box-sizing(border-box);
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: $dark-color;
  }
}