.bounded-section {
  max-width: 500px;
}

.presentation-list {
  list-style-type: none;

  > li {
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
.presentation-list--more-space {
  > li {
    padding: 32px 0;
  }
}

.plain-list {
  list-style-type: none;

  > li {
    padding: 2px 0;
    display: block;
  }
}
.plain-list--more-space {
  > li {
    padding: 8px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.section-for-light-examples {
  background: $dark-color-01;
  padding: 32px 0;
}

.examples-list {
  list-style-type: none;
  padding: 0 0 0 20px;

  > li {
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.subsections {
  list-style-type: none;

  > li {
    padding: 32px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.subsection {
  padding: 0 0 0 32px;
}

.listing {
  border: 1px solid $light-color-07;
  background: $light-color-02;
  padding: 20px 16px;
  white-space: normal;
  overflow-x: auto;
}

.simple-listing {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 20px 0;
}
.simple-listing--bounded {
  white-space: normal;
  overflow: visible;
}

.figure {
  &__header {
    padding: 0 0 10px 0;
  }
}

.scrollable-section {
  max-height: 320px;

  .mCSB_scrollTools {
    .mCSB_dragger {
      .mCSB_dragger_bar {
        background: $dark-color-01;
      }
    }
  }
}
.scrollable-section--unbounded {
  max-height: 100%;
}

.caption-title {
  font-weight: 400;
  font-style: italic;
  font-size: $main-font-size;

  &__number {
    font-weight: 700;
    font-style: normal;

    &:after {
      content: ' –';
      margin: 0 4px 0 4px;
      font-weight: 400;
    }
  }
}

.inline-code {
  //color: $light-color-06;
  font-style: italic;
  font-weight: 400;
}

.code {
  font-weight: 400;
  font-family: $monospace-font-family;
}

.presentation-section {
  &__listing {
    padding: 20px 0 0 0;
  }
}

.comparison-section {
  position: relative;

  &:before {
    @media (min-width: $tablet-m) {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: $light-color-01;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}

.comparison-row {
  @media (min-width: $tablet-m) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__result {
    @media (min-width: $tablet-m) {
      width: 50%;
      @include box-sizing(border-box);
    }
  }

  &__source {
    background: $light-color-01;

    @media (min-width: $tablet-m) {
      width: 50%;
      @include box-sizing(border-box);
    }
  }
}

.row {
  padding: 40px 0 0 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
.row--more-space {
  padding-top: 80px;
}

.descripted-items-section {
  padding: 0 240px 0 0;

  &__item {
    position: relative;
  }

  &__item-description {
    position: absolute;
    left: 100%;
    text-align: right;
    top: 0;
    width: 240px;
    border-top: 1px dashed $light-color-06;
    border-right: 1px dashed $light-color-06;
    padding: 8px 12px 0 0;
    font-size: $small-font-size;
    color: $light-color-06;
    @include box-sizing(border-box);

  }

  &__item-description--second {
    top: 40px;
    width: 200px;
  }
}

.article {
  &__introduction {
    padding: 0 0 20px 0;
  }

  &__row {
    padding: 32px 0 0 0;
  }

  &__footer {
    margin: 40px 0 0 0;
  }
}

.color-sample {
  width: 24px;
  height: 24px;
  @include transition(all .2s ease-in-out);
}
.color-sample--bright {
  border: 1px solid $dark-color;
  @include box-sizing(border-box);
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: $dark-color;
  }
}

.edge-section {
  position: relative;
  height: 100%;
  padding: 0 0 0 54px;
  background: $light-color-01;

  &__edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    cursor: pointer;
  }

  &__edge-inner {
    position: absolute;
    top: 50%;
    left: 0;
    @include transform((rotate(-90deg) translate3d(-50%, 0, 0)));
    transform-origin: left top;
  }

  &__content {
    padding: 40px;
    max-height: 100%;
    @include box-sizing(border-box);
  }
}

.std-table {
  text-align: left;
  border-collapse: collapse;

  &__row {

  }

  &__header {
    font-size: $larger-font-size;
    font-weight: 700;
  }

  &__cell {
    padding: 16px 32px;
    vertical-align: top;
    border-bottom: 1px solid $light-color-10;
    border-collapse: collapse;
    max-width: 400px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  &__cell--header {
    border-color: $dark-color;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.property {
  &__name {
    font-weight: 700;
  }

  &__type {
    padding: 4px 0 0 0;
    font-style: italic;
  }
}

.parameter {
  &__name {
    font-weight: 700;
  }

  &__type {
    padding: 4px 0 0 0;
    font-style: italic;
  }

  &__description {
    padding: 4px 0 0 0;
  }
}

.horizontal-menu {
  &__core {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
  
    > li {
      padding: 0 12px;
    }
  }
}

.menu-item {
  color: $dark-color;
  text-decoration: none;
}