.ajax-items-manager {
  position: relative;

  &__loading-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &__no-results {
    display: none;
  }
}