.hawk-toggler {
    display: block;
    position: relative;

    &__field {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
    }
}
