.bookmarks-manager {
  margin: 0 auto;

  .bookmarks-manager__bookmarks-container {
    width: 100%;
  }

  .bookmarks-manager__bookmarks {

  }

  .bookmarks-manager__bookmark-container {
    display: block;
  }

  .bookmarks-manager__bookmark {
    cursor: pointer;
    position: relative;
  }

  .bookmarks-manager__bookmark-container {
    .bookmarks-manager__bookmark-content {
      display: none;
    }
  }

  .bookmarks-manager__mobile-content {
    display: none;
    overflow: hidden;


    .bookmarks-manager__content {
      display: block;
    }
  }

  .bookmarks-manager__content-container {
    display: block;
    @include transition(all .2s linear);
    min-height: 2px;
  }

  .bookmarks-manager__content-wrapper {
    padding: 0;
    @include transition(all .2s linear);
  }

  .bookmarks-manager__content {
    display: none;

    @media (min-width: $tablet-xl) {
      display: block;
    }
  }
}