<section id="exemplary-items-manager" class="hawk-items-manager" data-manager-id="gallery">
    <label class="simple-tab-button hawk-items-manager__bookmark">
        <input class="simple-tab-button__field" type="radio" name="tab-menu" value="-1" checked />

        <div class="simple-tab-button__wrapper">
            All
        </div>
    </label>

    <label class="simple-tab-button hawk-items-manager__bookmark">
        <input class="simple-tab-button__field" type="radio" name="tab-menu" value="1" />

        <div class="simple-tab-button__wrapper">
            Hussars
        </div>
    </label>

    <label class="simple-tab-button hawk-items-manager__bookmark">
        <input class="simple-tab-button__field" type="radio" name="tab-menu" value="2" />

        <div class="simple-tab-button__wrapper">
            Landscapes
        </div>
    </label>

    <!-- (...) more groups -->

    <ul class="tiles-list">
        <li class="hawk-items-manager__item hawk-items-manager-group-2" data-manager-id="gallery">
            {% include('blocks/tile.html') with {
            tile: {
            type: 'clear',
            image: '/img/pictures/jezioro-o-poranku.jpg'
            }
            } %}
        </li>

        <li class="hawk-items-manager__item hawk-items-manager-group-1" data-manager-id="gallery">
            {% include('blocks/tile.html') with {
            tile: {
            type: 'clear',
            image: '/img/pictures/husaria.jpg'
            }
            } %}
        </li>

        <li class="hawk-items-manager__item hawk-items-manager-group-1 hawk-items-manager-group-2" data-manager-id="gallery">
            {% include('blocks/tile.html') with {
            tile: {
            type: 'clear',
            image: '/img/pictures/husaria-w-gorach.jpg'
            }
            } %}
        </li>

        <!-- (...) more items -->
    </ul>
</section>