.horizontal-items {
  list-style-type: none;

  > li {
    padding: 8px 0;

    @media (min-width: $mobile-m) {
      padding: 0 20px;
      display: inline-block;
      vertical-align: middle;
    }

    @media (min-width: $desktop-xl) {
      padding: 0 32px;
    }

    &:first-child {
      padding-top: 0;

      @media (min-width: $mobile-m) {
        padding-left: 0;
      }
    }

    &:last-child {
      padding-bottom: 0;

      @media (min-width: $mobile-m) {
        padding-right: 0;
      }
    }
  }

  &__distinguished {
    font-weight: 500;
  }
}