.horizontal-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: $mobile-m) {
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }

    @media (min-width: $desktop-l) {
        gap: 32px;
    }

    > li {

    }
}
.horizontal-items--keep-proportion {
    > li {
        flex: 1 1 0px;
    }
}
