<div class="text">
    <p>
        <em>Text</em> block is the basic component of the website.
        It exists just to present the paragraphs of content on the webpage.
    </p>

    <p>
        It deals with following proper features:
    </p>

    <ol>
        <li>font size</li>
        <li>line height</li>
        <li>font family</li>
        <li>space between paragraphs</li>
    </ol>

    <p>
        Moreover, <em>Text</em> component works with common elements:
    </p>

    <ul>
        <li>ordered and unordered list</li>
        <li><a href="/">links</a></li>
        <li><em>emphasizes</em></li>
    </ul>
</div>