/* RWD */
.hawk-dropdown {
  position: relative;
  display: block; }
  .hawk-dropdown__sensor, .hawk-dropdown__start-escape-sensor {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -10000; }
  .hawk-dropdown__end-sensor, .hawk-dropdown__escape-sensor {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: -10000; }
  .hawk-dropdown__header {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
  .hawk-dropdown__list-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .hawk-dropdown__list > li {
    display: block; }
  .hawk-dropdown__list a {
    display: block; }
  .hawk-dropdown.hawk-dropdown--open {
    z-index: 8000; }

.hawk-dropdown--expanding .hawk-dropdown__list-container {
  position: relative;
  top: 0; }

.hawk-dropdown--upwards .hawk-dropdown__list-container {
  top: auto;
  bottom: 100%; }

.hawk-layered-section {
  position: relative; }
  .hawk-layered-section__above-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; }
  .hawk-layered-section__above-layer-inner, .hawk-layered-section__base-layer-inner {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
