.button {
  clear: both;
  display: inline-block;
  margin: 0 0 0 -3px;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: $main-font-size;
  font-family: $sans-serif-font-family;
  border: 0;
  color: $light-color;
  overflow: hidden;
  @include box-sizing(border-box);
  background: transparent;
  @include transition(all .3s ease-in-out);
  text-decoration: none;
  white-space: nowrap;

  &__wrapper {
    padding: 8px 32px;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      @include transition(all .3s ease-in-out);
      @include box-sizing(border-box);
    }

    &:before {
      top: 0;
      background: $primary-color;
    }

    &:after {
      top: -100%;
      background: $secondary-color-02;
    }
  }

  &__inner {
    position: relative;
    z-index: 10;
  }

  &:hover {
    .button__wrapper {
      &:after {
        top: 0;
      }
    }
  }
}

.button--large {
  font-size: $main-font-size-01;

  .button__wrapper {
    padding: 10px 40px;
  }
}

.button--small {
  font-size: $small-font-size;

  .button__wrapper {
    padding: 8px 24px;
  }
}

.button--dark {
  .button__wrapper {
    &:before {
      background: $dark-color;
    }
  }
}

.button--light {
  color: $primary-color;

  .button__wrapper {
    &:before {
      background: $light-color;
    }

    &:after {
      background: $primary-color;
    }
  }

  &:hover,
  &:focus {
    color: $light-color;
  }
}

.button--stroke {
  color: $primary-color;

  .button__wrapper {
    &:before {
      border: 1px solid $primary-color;
      background: transparent;
    }

    &:after {
      background: $primary-color;
    }
  }

  &:hover,
  &:focus {
    color: $light-color;

    .button__wrapper {

    }
  }
}

.button--dark.button--stroke {
  color: $dark-color;

  .button__wrapper {
    &:before {
      border-color: $dark-color;
    }

    &:after {
      background: $dark-color;
    }
  }

  &:hover,
  &:focus {
    color: $light-color;
  }
}

.button--light.button--stroke {
  color: $light-color;

  .button__wrapper {
    &:before {
      border-color: $light-color;
    }

    &:after {
      background: $light-color;
    }
  }

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.button--static {

  &:hover,
  &:focus {
    .button__wrapper {
      &:after {
        top: -100%;
      }
    }
  }
}