<article class="icon-item">
    <div class="icon-item__icon-container">
        <img class="icon-item__icon" src="/img/icons/large/icon-clock.svg" alt="Icon clock" />
    </div>

    <div class="icon-item__description-container">
        <header class="icon-item__header">
            <h3 class="simple-title">Lorem ipsum dolor sit amet</h3>
        </header>

        <div class="text">
            <p>
            Quisque adipiscing elit odio, fermentum rutrum. In&nbsp;sodales wisi accumsan luctus.
            </p>
        </div>
    </div>
</article>