<article class="tile{% if tile.type|length > 0 %} tile--{{ tile.type }}{% endif %}">
    <div class="tile__wrapper">
        <div class="tile__base-layer"
             style="background-image: url('{{ tile.image }}')">

        </div>

{% if tile.type != 'content-revealing' %}
        <div class="tile__above-layer">

        </div>{% endif %}
        
        {% if tile.content is defined and tile.content|length > 0 and (tile.type == 'standard' or tile.type == 'content-revealing') %}

        <div class="tile__content-layer">
            <div class="tile__inner">
{{ block('contentBlock', 'blocks/tile-content.html') }}
            </div>
        </div>
        {% endif %}
    </div>
    
    {% if tile.type == 'content-beneath' %}
    <div class="tile__content-container">
{{ block('contentBlock', 'blocks/tile-content.html') }}
    </div>
    {% endif %}
</article>