.std-pager {
	display: flex;
	align-items: center;
	justify-content: center;

	&__pages {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
	}

	&__item {
		padding: 0 4px;
		
	}

	&__separator {
		padding: 0 10px;
	}

	&__previous,
	&__next {
		cursor: pointer;
	}

	&__previous {
		padding: 0 12px 0 0;
	}

	&__next {
		padding: 0 0 0 12px;
	}
}
