.hawk-dropdown {
  position: relative;
  display: block;

  &__sensor,
  &__start-escape-sensor {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -10000;
  }

  &__end-sensor,
  &__escape-sensor {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: -10000;
  }

  &__header {
    position: relative;
    cursor: pointer;
    @include transition(all .2s linear);
    @include user-select(none);
  }

  &__header-inner {
    position: relative;
  }

  &__searching-field {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background: none;
    outline: none;
    z-index: 4;

    &:focus ~ * {
      opacity: .2;
    }
  }
  &__searching-field[disabled] {
    display: none;
    width: 0;
    height: 0;
  }

  &__list-container {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    z-index: 10;
    @include box-sizing(border-box);
    max-height: 250px;
    overflow: hidden;
  }

  &__list {
    > li {
      display: block;
    }

    a {
      display: block;
    }
  }

  &.hawk-dropdown--open {
    z-index: 8000;
  }
}

.hawk-dropdown--expanding {
  .hawk-dropdown__list-container {
    position: relative;
    top: 0;
  }
}

.hawk-dropdown--upwards {
  .hawk-dropdown__list-container {
    top: auto;
    bottom: 100%;
  }
}
