.section-header {
  padding: 0 0 32px 0;
}

.section-header--no-space {
  padding: 0 0 0 0;
}

.section-header--no-space-from-tablet {
  @media (min-width: $tablet-m) {
    padding-bottom: 0;
  }
}

.section-header--space-bottom{
  padding-bottom: 60px;

  @media (min-width: $tablet-m) {
    padding-bottom: 80px;
  }
}

