.choice-field {
	position: relative;
	width: 16px;
	height: 16px;
	display: block;
	cursor: pointer;

	@media (min-width: $desktop-xl) {
		width: 18px;
		height: 18px;
	}

	&__core {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -100;
		opacity: 0;
	}

	&__field {
		border: 1px solid $dark-color-op20;
		padding: 2px;
		@include transition(all .2s linear);

		&:before {
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			@include transition(all .2s linear);

			@media (min-width: $desktop-xl) {
				width: 12px;
				height: 12px;
			}
		}
	}

	&__core:focus ~ &__field {
		&:before {
			background: $dark-color;
		}
	}

	&__core:checked ~ &__field {
		border-color: $dark-color;

		&:before {
			background: $primary-color;
		}
	}

	&.choice-field--radio {
		.choice-field__field {
			@include border-radius(50%);

			&:before {
				@include border-radius(50%);
			}
		}
	}
}
.choice-field--light {
	.choice-field__field {
		border: 1px solid $light-color;
	}

	.choice-field__core:focus ~ .choice-field__field {
		&:before {
			background: $light-color;
		}
	}

	.choice-field__core:focus ~ .choice-field__field {
		&:before {
			background: $primary-color;
		}
	}

	.choice-field__core:checked ~ .choice-field__field {
		border-color: $light-color;
	}
}
.choice-field.error {
	.choice-field__field {
		border-color: $error-color;
	}
}