{% extends('index.html') %}

{% block content %}

    {#{% include('contents/revealing-item.html') %}#}

    <section class="site-section">
        <div class="site-section__layer">
            <div class="site-section__wrapper">
                <div class="site-section__inner">
                    <header class="section-header">
                        <h2 class="section-title">
                            List of things
                        </h2>
                    </header>

                    <section class="subsection">
                        <ul class="simple-list text">
                            <li><a class="std-link" href="#ajax-communication">AJAX Communication</a></li>

                            <li><a class="std-link" href="#dropdowns">Dropdowns</a></li>
                            <li><a class="std-link" href="#layered-section">Layered Section</a></li>
                            <li><a class="std-link" href="#more-content-manager">More Content Manager</a></li>
                            <li><a class="std-link" href="#ajax-overlayer-manager">Ajax Overlayer Manager</a></li>
                            <li><a class="std-link" href="#simple-overlayer-manager">Simple Overlayer Manager</a></li>
                            <li><a class="std-link" href="#details-list">Details List</a></li>
                            <li><a class="std-link" href="#items-manager">Items Manager</a></li>
                            <li><a class="std-link" href="#sliding-layer-manager">Sliding Layer Manager</a></li>
                            <li><a class="std-link" href="#ajax-loading-items-manager">Ajax Loading Itmes Manager</a></li>
                            <li><a class="std-link" href="#forms">Forms</a></li>
                            <li><a class="std-link" href="#ajax-request-manager">Ajax Request Manager</a></li>
                            <li><a class="std-link" href="#pager">Pager</a></li>
                            <li><a class="std-link" href="#ajax-items-manager">Ajax Items Manager</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>

    {% include('contents/ajax-communication.html') %}

    {% include('contents/dropdowns.html') %}

    {% include('contents/layered-section.html') %}

    {% include('contents/more-content-manager.html') %}

    {% include('contents/ajax-overlayer-manager.html') %}

    {% include('contents/simple-overlayer-manager.html') %}

    {% include('contents/details-list.html') %}

    {% include('contents/items-manager.html') %}

    {% include('contents/sliding-layer-manager.html') %}

    {% include('contents/ajax-loading-items-manager.html') %}

    {% include('contents/forms.html') %}

    {% include('contents/ajax-request-manager.html') %}

    {% include('contents/pager.html') %}

    {% include('contents/ajax-items-manager.html') %}

{% endblock %}