{% extends('index.html') %}

{% block content %}

    <section class="site-section">
        <div class="site-section__layer">
            <div class="site-section__wrapper">
                <div class="site-section__inner">
                    <header class="section-header">
                        <h2 class="section-title">
                            Icons
                        </h2>
                    </header>

                    <div class="flex-container flex-container--horizontally-center">
                        <div class="flex-column flex-column--3">
                            <div class="icon-arrow icon-arrow--west icon-arrow--small"></div>
                        </div>

                        <div class="flex-column flex-column--3">
                            <div class="icon-arrow icon-arrow--west"></div>
                        </div>

                        <div class="flex-column flex-column--3">
                            <div class="icon-arrow icon-arrow--west icon-arrow--large"></div>
                        </div>

                        <div class="flex-column flex-column--3">
                            <div class="icon-arrow icon-arrow--west icon-arrow--huge"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-container flex-container--horizontally-center">
                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--north icon-arrow--small"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--north"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--north icon-arrow--large"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--north icon-arrow--huge"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-container flex-container--horizontally-center">
                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--east icon-arrow--small"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--east"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--east icon-arrow--large"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--east icon-arrow--huge"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="flex-container flex-container--horizontally-center">
                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--south icon-arrow--small"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--south"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--south icon-arrow--large"></div>
                            </div>

                            <div class="flex-column flex-column--3">
                                <div class="icon-arrow icon-arrow--south icon-arrow--huge"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}