<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/dist/css/hawk/hawk.css" type="text/css" />
        <link rel="stylesheet" href="/dist/css/external/jquery.mCustomScrollbar.css" type="text/css" />
        <link rel="stylesheet" href="/dist/css/master.css" type="text/css" />

        <script src="/dist/js/jquery-3.1.0.min.js"></script>
        <script src="/dist/js/jquery.scrollTo.js"></script>

        <script src="/dist/js/velocity.js"></script>

        <title>Hawk Framework v2</title>
    </head>

    <body>
        <header class="site-header">
            <div class="site-header__bar">
                <nav class="horizontal-menu">
                    <ul class="horizontal-menu__core">
                        <li>
                            <a class="menu-item" href="/">Components</a>
                        </li>

                        <li>
                            <a class="menu-item" href="/blocks">Blocks</a>
                        </li>

                        <li>
                            <a class="menu-item" href="/variables">Variables</a>
                        </li>
                    </ul>
                </nav>
            </div>

            {% block header %}
            <h1 class="site-title">Hawk Framework v2</h1>
            {% endblock %}
        </header>

        <main class="site-content">
            {% block content %}

            {% endblock %}
        </main>

        <script src="/dist/js/jquery.mCustomScrollbar.min.js"></script>
        <!--<script src="/Hawk-Framework-v2/js/dist/jHawk-v2.js"></script>-->
        <!--<script src="/dist/js/Hawk-v2.js"></script>-->
        <script src="/dist/js/master.js"></script>
    </body>
</html>