<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Georama:wght@400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/dist/css/hawk/hawk.css?id=221002" type="text/css" />
        <link rel="stylesheet" href="/dist/css/external/jquery.mCustomScrollbar.css" type="text/css" />
        <link rel="stylesheet" href="/dist/css/master.css" type="text/css" />

        <script src="/dist/js/jquery-3.1.0.min.js"></script>
        <script src="/dist/js/jquery.scrollTo.js"></script>

        <script src="/dist/js/velocity.js"></script>

        <title>Hawk Framework v2</title>
    </head>

    <body>
        <header class="site-header">
            <div class="site-header__bar">
                <section class="site-bar">
                    <div class="site-bar__logo-container">
<!--                        <a class="logo-hawk-framework">Hawk Framework</a>-->
                        <h1 class="site-title">Hawk Framework v2</h1>
                    </div>

                    <div class="site-bar__side-container">
                        <nav class="horizontal-menu">
                            <ul class="horizontal-menu__core">
                                <li>
                                    <a class="menu-item" href="/">Components</a>
                                </li>

                                <li>
                                    <a class="menu-item" href="/blocks">Blocks</a>
                                </li>

                                <li>
                                    <a class="menu-item" href="/variables">Variables</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>

            {#{% block header %}
            <h1 class="site-title">Hawk Framework v2</h1>
            {% endblock %}#}
        </header>

        <main class="site-content">
            {% block content %}

            {% endblock %}
        </main>

        <footer class="site-footer">
            <div class="site-footer__layer">
                <div class="site-footer__wrapper">
                    <div class="site-footer__inner">
                        <div class="bounded-section">
                            <div class="text text--light text--small">
                                <p>
                                    Copyright 2021-2022 by <a href="http://filipmarkiewicz.pl" target="_blank">Filip J. Markiewicz</a>. All rights reserved.
                                </p>

{#<!--                                <p>-->
<!--                                    Logo has been made by Michał Kantor MacKantiStudio69.-->
<!--                                </p>-->#}

                                <p>
                                    The Hawk Library can be used under the MIT License. It's nice to put some information about this project in the source code and let me know that you use it, just for my satisfaction that this library is helpful for more people.
                                </p>

                                <p>
                                    Last modification: 19.02.2023
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section id="overlayer" class="overlayer std-overlayer" data-overlayer-id="1">
            <div class="std-overlayer__wrapper">
                <div class="overlayer__content-container std-overlayer__inner">
                    <div class="overlayer__content">

                    </div>
                </div>

                <div class="overlayer__close std-overlayer__close ajax-overlayer-close">
                    <div class="icon-plus icon-plus--rotated icon-plus--light"></div>
                </div>
            </div>

            <div class="overlayer__loading-layer std-overlayer__loading-layer">
                <div class="icon-loader icon-loader--light icon-loader--animated"></div>
            </div>
        </section>

        <script src="/dist/js/jquery.mCustomScrollbar.min.js"></script>
        <!--<script src="/Hawk-Framework-v2/js/dist/jHawk-v2.js"></script>-->
        <!--<script src="/dist/js/Hawk-v2.js"></script>-->
        <script src="/dist/js/master.js"></script>
    </body>
</html>