<section class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        Ajax Items Manager
                    </h2>
                </header>

                <section id="ajax-items-manager" class="ajax-items-manager">
                    <ul class="ajax-items-manager__content-container text-boxes-list">

                    </ul>

                    <div class="hawk-pager std-pager">
                        <div class="hawk-pager__previous std-pager__previous">
                            <div class="icon-arrow icon-arrow--small icon-arrow--west"></div>
                        </div>

                        <ol class="hawk-pager__pages std-pager__pages">

                        </ol>

                        <div class="hawk-pager__next std-pager__next">
                            <div class="icon-arrow icon-arrow--small icon-arrow--east"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>