<section id="ajax-communication-anchor" class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        AJAX Communication
                    </h2>
                </header>

                <div class="flex-container">
                    <div class="flex-column flex-column--6 flex-column--space">
                        <section class="subsection bounded-section">
                            <div class="text">
                                <p>
                                    The client-server communication in the framework is very simple. Each component which uses the back-end responses has the appropriate Request and Response structure descripted. The thing that keeps them in the same root is the&nbsp;<code class="inline-code">status</code> field which should take one of the&nbsp;following values informing about the&nbsp;result's state.
                                </p>
                            </div>

                            <!-- <div class="row">
                            </div> -->
                        </section>
                    </div>

                    <div class="flex-column flex-column--6 flex-column--space">
                        <section class="subsection">
                            <div class="subsection__content">
                                <ul class="presentation-list">
                                    <li>
                                        <ul class="plain-list plain-list--more-space">
                                            <li>
                                                <a class="icon-label std-link" href="https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/src/js/Hawk/HawkLibrary/Requests/RequestStatus.Hawk.js" target="_blank">
                                                    <div class="icon-label__icon-container">
                                                        <img class="icon-label__icon icon-label__icon--small" src="/img/icons/files/icon-js-color.svg" alt="JS" />
                                                    </div>

                                                    <div class="icon-label__description-container">
                                                        <p class="text">
                                                            RequestStatus.Hawk.js
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="row row--more-space">
                    <header class="subsection-header">
                        <h3 class="simple-title">Hawk.RequestStatus</h3>
                    </header>

                    <section class="subsection">
                        {% include('this-project/elements/table-enum.html') with {
                            values: [
                                {
                                    name: "SUCCESS",
                                    value: 0,
                                    description: "Everything went well."
                                },
                                {
                                    name: "ERROR",
                                    value: 1,
                                    description: "There occurred a controlable problem during processing the request. I.e. the data are invalid."
                                },
                                {
                                    name: "EXCEPTION",
                                    value: 2,
                                    description: "There occurred an unexpected problem."
                                }
                            ]
                        } %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>