<section class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        Forms
                    </h2>
                </header>

                <form class="form">
                    <div class="form__field-container">
                        <label class="form-field">
                            <div class="form-field__wrapper">
                                <header class="form-field__header">
                                    <h4 class="form-field__title">Exemplary form field</h4>
                                </header>

                                <input class="form-field__core" type="text" name="exemplary-form-field" />
                            </div>
                        </label>
                    </div>

                    <div class="form__field-container">
                        <label class="form-field">
                            <div class="form-field__wrapper">
                                <input class="form-field__core" type="text" name="exemplary-form-field" placeholder="Exemplary form field" />
                            </div>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>