<section class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        Layered section
                    </h2>
                </header>

                <div class="flex-container">
                    <div class="flex-column flex-column--4 flex-column--space">
                        <section class="subsection bounded-section">
                            <div class="text">
                                <p>
                                    <strong>Dropdown</strong> allows to select one (or more) options from the list that is visible when it is needed. It is commonly used as an elegant alternative to native <code class="inline-code">select</code> form field but can also work as a list of links or just custom component in application.
                                </p>

                                <p>
                                    <strong>Dropdown</strong> has variants of working type: overlaying nearby content or expending and moving it. Direction of opening can be downwards or upwards.
                                </p>
                            </div>

                            <div class="row row--more-space">
                                <section class="bounded-section">
                                    {% include('hawk/modules/layered-section/hawk-layered-section-example.html') %}
                                </section>
                            </div>
                        </section>
                    </div>

                    <div class="flex-column flex-column--8 flex-column--space">
                        <section class="subsection">
                            <div class="subsection__content">
                                <ul class="presentation-list">
                                    <li>
                                        <div class="listing">
                                            <div class="scrollable-section">
                                            {% autoescape false %}
                                            {{ layeredSection.listings.html }}
                                            {% endautoescape %}
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="listing">
                                            {% autoescape false %}
                                            {{ layeredSection.listings.js }}
                                            {% endautoescape %}
                                        </div>
                                    </li>

                                    <li>
                                        <ul class="plain-list plain-list--more-space">
                                            <li>
                                                <a class="icon-label std-link" href="https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/Hawk-Framework-v2/js/src/hawk-library/Dropdown.Hawk.js" target="_blank">
                                                    <div class="icon-label__icon-container">
                                                        <img class="icon-label__icon icon-label__icon--small" src="/img/icons/files/icon-js-color.svg" alt="JS" />
                                                    </div>

                                                    <div class="icon-label__description-container">
                                                        <p class="text">
                                                            Dropdown.Hawk.js
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="icon-label std-link" href="https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/src/scss/hawk/modules/dropdown/_hawk-dropdown.scss" target="_blank">
                                                    <div class="icon-label__icon-container">
                                                        <img class="icon-label__icon icon-label__icon--small" src="/img/icons/files/icon-css-01.svg" alt="CSS" />
                                                    </div>

                                                    <div class="icon-label__description-container">
                                                        <p class="text">
                                                            hawk-dropdown.scss
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="icon-label std-link" href="https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/src/scss/hawk/modules/dropdown/_hawk-dropdown-theme.scss" target="_blank">
                                                    <div class="icon-label__icon-container">
                                                        <img class="icon-label__icon icon-label__icon--small" src="/img/icons/files/icon-css-01.svg" alt="CSS" />
                                                    </div>

                                                    <div class="icon-label__description-container">
                                                        <p class="text">
                                                            hawk-dropdown-theme.scss
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


