{% set presentationSection = {
    title: 'Layered section',
    listings: {
        html: layeredSection.listings.html,
        js: layeredSection.listings.js
    },
    links: [
        {
            link: 'https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/Hawk-Framework-v2/js/src/hawk-library/LayeredSection.Hawk.js',
            type: 'js',
            title: 'LayeredSection.Hawk.js'
        },
        {
            link: 'https://github.com/Rotmistrz/Hawk-Framework-v2/blob/master/public/src/scss/hawk/modules/_hawk-layered-section.scss',
            type: 'css',
            title: 'hawk-layered-section.scss'
        }
    ],

    properties: layeredSection.properties,
    callbacks: layeredSection.callbacks,
    methods: layeredSection.methods
} %}

{% extends 'contents/_presentation-section.html' %}

{% block exampleAndDescription %}
<section class="subsection bounded-section">
                       
    {% include('hawk/modules/layered-section/hawk-layered-section-example.html') %}
  
    <div class="row">
        <div class="text">
            <p>
                Every layer is binded with corresponding button through the <span class="inline-code">nameAttribute</span> (<span class="code">data-name</span> by default, look below). Base layer is the special one, which is visible as first and sets the section's size.
            </p>
        </div>
    </div>
</section>
{% endblock %}