<section id="ajax-communication-anchor" class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        Main concepts
                    </h2>
                </header>

                <div class="flex-container">
                    <div class="flex-column flex-column--6 flex-column--space">
                        <section class="subsection bounded-section">
                            <div class="text">
                                <ol>
                                     <li>
                                         All the widgets need appropriate HTML structure. So they most often consist of
                                         two BRM blocks &ndash; one, starting of <span class="inline-code">hawk-</span> prefix,
                                         is responsible only for working of the widget &ndash; some elements must have some
                                         CSS properties to make the widget work properly. The second one, starting of
                                         <span class="inline-code">std-</span> prefix, is responsible only for some standard appearance
                                         of the widget. You should always override only the appearance block.
                                     </li>
                                </ol>
                            </div>
                        </section>
                    </div>

                    <div class="flex-column flex-column--6 flex-column--space">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>