<section id="revealing-item-anchor" class="site-section">
    <div class="site-section__layer">
        <div class="site-section__wrapper">
            <div class="site-section__inner">
                <header class="section-header">
                    <h2 class="section-title">
                        Revealing Item
                    </h2>
                </header>

                <section id="exemplary-revealing-item" class="pulling-item">
                    <div class="pulling-item__wrapper">
                        <div class="pulling-item__inner">
                            <div class="pulling-item__content">
                                <div class="pulling-item__after-item-container pulling-item__base-item">
                                    <img class="pulling-item__after-item-pattern" src="/img/pictures/picture-after.jpg" alt="">

                                    <div class="pulling-item__after-item" style="background-image: url('/img/pictures/picture-after.jpg'); width: 50%;"></div>
                                </div>

                                <div class="pulling-item__before-item-container pulling-item__layer-item">
                                    <div class="pulling-item__before-item" style="background-image: url('/img/pictures/picture-before.jpg');"></div>

                                    <div class="pulling-item__pulling-bar">
                                        <div class="pulling-item__pulling-bar-line">
                                            <div></div>
                                        </div>

                                        <div class="pulling-item__pulling-bar-wrapper">
                                            <div class="wrapper">
                                                <div>
                                                    <button class="rhomb-button" type="button">
                                                        <div class="wrapper">
                                                            <div>
                                                                <div class="rhomb-button__wrapper">
                                                                    <div class="rhomb-button__inner">
                                                                        <div class="rhomb-button__icon icon-expand"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>