<section class="site-section">
    <section class="hawk-sliding-layer-section" data-sliding-layer-manager="1" data-id="1">
        <div class="site-section__layer">
            <div class="site-section__wrapper">
                <div class="site-section__inner">
                    <header class="section-header">
                        <h2 class="section-title">
                            Sliding layer manager
                        </h2>
                    </header>
 
                    <div class="flex-container">
                        <div class="flex-column flex-column--4 flex-column--space">
                            <div class="text">
                                <p>
                                    Sliding layer manager allows to hide the additional content out of the screen and slide it when it's necessary.
                                </p>
                            </div>
                        </div>

                        <div class="flex-column flex-column--8 flex-column--space">
                            <article class="figure">
                                <header class="figure__header">
                                    <h5 class="caption-title"><span class="caption-title__number">Listing 7</span> HTML code of exemplary sliding layer manager</h5>
                                </header>

                                <div class="listing">
                                    <div class="scrollable-section">
                                    {% autoescape false %}
                                        {{ listings.slidingLayerManager.html }}
                                    {% endautoescape %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <section class="hawk-sliding-layer-section__layer">
                        <section class="edge-section">
                            <div class="edge-section__edge hawk-sliding-layer-section__button" data-sliding-layer-manager="1" data-id="1">
                                <div class="edge-section__edge-inner">
                                    <button class="button button--static" type="button">
                                        <div class="button__wrapper">
                                            <div class="button__inner">
                                                Code
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="edge-section__content">
             
                              
                                <article class="figure">
                                    <header class="figure__header">
                                        <h5 class="caption-title"><span class="caption-title__number">Listing 8</span> sample JS code of use</h5>
                                    </header>

                                    <div class="listing">
                                  
                                
                                            {{ listings.slidingLayerManager.js }}
                            
                                     
                                    </div>
                                </article>
                          
                        
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>