.form {
  &__field-container {
    padding: 12px 0;
  }

  &__info-container {
    padding: 20px 0 0 0;
    @include box-sizing(border-box);
  }
}
.form--bounded {
    max-width: 400px;
}

.horizontal-form {
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    padding: 0 16px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}