.section-header {
  padding: 0 0 32px 0;
}

.section-subheader {
  padding: 0 0 20px 0;
}

.subsection-header {
  padding: 0 0 32px 0;
}

.subsection-subheader {
  padding: 0 0 20px 0;
}

.section-pretitle {
  font-size: $main-font-size;
  color: $dark-color-04;
  font-style: italic;
  font-weight: 400;

  @media (min-width: $desktop-m) {
    font-size: $larger-font-size;
  }
}

.simple-header {
  padding: 0 0 16px 0;
}

.plain-header {
  padding: 0 0 8px 0;
}