.section-title {
  font-size: $very-large-font-size-00;
  font-weight: 700;

  @media (min-width: $mobile-m) {
    font-size: $very-large-font-size-01;
  }

  @media (min-width: $mobile-l) {
    font-size: $very-large-font-size-02;
  }

  @media (min-width: $desktop-m) {
    font-size: $very-large-font-size-04;
  }

  @media (min-width: $desktop-xl) {
    font-size: $very-large-font-size-07;
  }
}

.section-title--large {
  font-size: $very-large-font-size-02;

  @media (min-width: $mobile-m) {
    font-size: $very-large-font-size-04;
  }

  @media (min-width: $mobile-l) {
    font-size: $very-large-font-size-05;
  }

  @media (min-width: $desktop-m) {
    font-size: $very-large-font-size-07;
  }

  @media (min-width: $desktop-xl) {
    font-size: $very-large-font-size-12;
  }
}

.section-title--small {
  font-size: $large-font-size-00;

  @media (min-width: $mobile-m) {
    font-size: $large-font-size-01;
  }

  @media (min-width: $mobile-l) {
    font-size: $large-font-size-02;
  }

  @media (min-width: $desktop-m) {
    font-size: $large-font-size-03;
  }

  @media (min-width: $desktop-xl) {
    font-size: $large-font-size-04;
  }
}

.section-subtitle {
  font-size: $large-font-size;
  font-weight: 700;

  @media (min-width: $mobile-m) {
    font-size: $large-font-size-00;
  }

  @media (min-width: $mobile-l) {
    font-size: $large-font-size-01;
  }

  @media (min-width: $desktop-m) {
    font-size: $large-font-size-02;
  }

  @media (min-width: $desktop-xl) {
    font-size: $large-font-size-03;
  }
}

.section-subtitle--large {
  font-size: $large-font-size-01;

  @media (min-width: $mobile-m) {
    font-size: $large-font-size-02;
  }

  @media (min-width: $mobile-l) {
    font-size: $large-font-size-03;
  }

  @media (min-width: $desktop-m) {
    font-size: $large-font-size-04;
  }

  @media (min-width: $desktop-xl) {
    font-size: $large-font-size-06;
  }
}

.section-subtitle--small {
  font-size: $larger-font-size;

  @media (min-width: $mobile-m) {
    font-size: $larger-font-size-00;
  }

  @media (min-width: $mobile-l) {
    font-size: $larger-font-size-01;
  }

  @media (min-width: $desktop-m) {
    font-size: $larger-font-size-02;
  }

  @media (min-width: $desktop-xl) {
    font-size: $larger-font-size-03;
  }
}

.subsection-title {
  font-size: $main-font-size;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;

  @media (min-width: $mobile-m) {
    font-size: $main-font-size-00;
  }

  @media (min-width: $mobile-l) {
    font-size: $main-font-size-01;
  }

  @media (min-width: $desktop-m) {
    font-size: $main-font-size-02;
  }

  @media (min-width: $desktop-xl) {
    font-size: $main-font-size-03;
  }
}

.subsection-title--large {
  font-size: $larger-font-size;

  @media (min-width: $mobile-m) {
    font-size: $larger-font-size-00;
  }

  @media (min-width: $mobile-l) {
    font-size: $larger-font-size-01;
  }

  @media (min-width: $desktop-m) {
    font-size: $larger-font-size-02;
  }

  @media (min-width: $desktop-xl) {
    font-size: $larger-font-size-04;
  }
}

.subsection-title--small {
  font-size: $small-font-size;

  @media (min-width: $mobile-m) {
    font-size: $small-font-size-00;
  }

  @media (min-width: $mobile-l) {
    font-size: $small-font-size-01;
  }

  @media (min-width: $desktop-m) {
    font-size: $small-font-size-02;
  }

  @media (min-width: $desktop-xl) {
    font-size: $small-font-size-03;
  }
}

.simple-title {
  font-size: $large-font-size;

  @media (min-width: $desktop-xl) {
    font-size: $large-font-size-01;
  }
}

.small-title {
  font-size: $small-font-size;
  font-weight: 700;

  @media (min-width: $desktop-xl) {
    font-size: $small-font-size-01;
  }
}

.text-title {
  @extend .text;
  font-weight: 700;
}

.subsection-subtitle {
  font-size: $larger-font-size;
  font-style: italic;
}