.tile {
  max-width: 460px;
  cursor: pointer;

  &__wrapper {
    position: relative;
  }

  &__base-layer {
    background-size: cover;
    background-position: center;
    padding: 0 0 65% 0;
  }

  &__above-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-color;
    opacity: 0;
    @include transition(all .2s ease-in-out);
  }

  &__content-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: $light-color;
    @include background-gradient-down(rgba($dark-color, 0) 50%, rgba($dark-color, .2) 70%, rgba($dark-color, .2) 100%);
  }

  &__inner {
    padding: 32px 20px;
  }

  &__header {
    padding: 0 0 8px 0;
  }

  &__content-container {
    padding: 20px 0 0 0;

    @media (min-width: $desktop-xl) {
      padding-top: 32px;
    }
  }

  &:hover,
  &:focus {
    .tile__above-layer {
      opacity: .3;
    }
  }
}
.tile--square {
  max-width: 300px;

  .tile__base-layer {
    padding-bottom: 100%;
  }
}
.tile--content-revealing {
  .tile__content-layer {
    opacity: 0;
    @include transition(all .4s ease-in-out);
  }

  &:hover,
  &:focus {
    .tile__content-layer {
      opacity: 1;
    }
  }
}