.titled-label {
  &__header {
    font-size: $main-font-size;
    padding: 0 0 8px 0;

    @media (min-width: $desktop-xl) {
      font-size: $main-font-size-00;
    }
  }

  &__content {
    font-size: $large-font-size;
    font-weight: 700;

    @media (min-width: $desktop-m) {
      font-size: $large-font-size-01;
    }

    @media (min-width: $desktop-xl) {
      font-size: $large-font-size-02;
    }
  }
}