.icon-plus {
	width: 16px;
	height: 16px;
	position: relative;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		background: $dark-color;
	}

	&:before {
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		margin: -1px 0 0 0;
	}

	&:after {
		width: 2px;
		height: 100%;
		left: 50%;
		top: 0;
		margin: 0 0 0 -1px;
	}
}
.icon-plus--rotated {
	@include transform(rotate(-45deg));
}
.icon-plus--light {
	&:before,
	&:after {
		background: $light-color;
	}
}

.icon-arrow {
	border-top: 2px solid $dark-color;
	border-right: 2px solid $dark-color;
	width: 12px;
	height: 12px;
	@include box-sizing(content-box);
	@include transition(all .2s linear);
	position: relative;
}
.icon-arrow--small {
	width: 8px;
	height: 8px;
}
.icon-arrow--large {
	width: 16px;
	height: 16px;
}
.icon-arrow--huge {
	width: 20px;
	height: 20px;
}
.icon-arrow--thin {
	border-top: 1px solid $dark-color;
	border-right: 1px solid $dark-color;
}

.icon-arrow--west {
	@include transform(rotate(225deg));
}
.icon-arrow--north {
	@include transform(rotate(-45deg));
	top: 1px;
}
.icon-arrow--east {
	@include transform(rotate(45deg));
}
.icon-arrow--south {
	@include transform(rotate(-225deg));
	top: -4px;
}
.icon-arrow--south.icon-arrow--small {
	top: -2px;
}
.icon-arrow--primary {
	border-color: $primary-color;
}

.icon-loader {
	width: 32px;
	height: 32px;
	display: block;
	background: url('/img/icons/icon-loader.svg') no-repeat center;
	background-size: contain;
	@include animation(Rotate 2s infinite linear);
}
.icon-loader--small {
	width: 20px;
	height: 20px;
}
.icon-loader--light {
	background-image: url('/img/icons/icon-loader-light.svg');
}

