.site-header {
  padding: 64px 40px;
  background: $secondary-color;
  position: relative;

  @media (min-width: $desktop-l) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-xl) {
    padding-left: 140px;
    padding-right: 140px;
  }

  &__bar {

  }
}

.site-title {
  font-size: 42px;

  @media (min-width: $desktop-xl) {
    font-size: 52px;
  }
}