.plain-list {
  list-style-type: none;

  > li {
    padding: 2px 0;
    display: block;
  }
}
.plain-list--more-space {
  > li {
    padding: 8px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.tiles-list {
  @media (min-width: $tablet-m) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  > li {
    padding: 20px 0;
    @include box-sizing(border-box);

    @media (min-width: $tablet-m) {
      width: 33.33%;
    }

    &:first-child {
      padding-top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      @media (min-width: $tablet-m) {
        padding-top: 0;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:nth-child(3n + 1) {
      @media (min-width: $tablet-m) {
        padding-right: 2%;
      }
    }

    &:nth-child(3n + 2) {
      @media (min-width: $tablet-m) {
        padding-left: 1%;
        padding-right: 1%;
      }
    }

    &:nth-child(3n + 3) {
      @media (min-width: $tablet-m) {
        padding-left: 2%;
      }
    }
  }
}

.horizontal-buttons {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (min-width: $tablet-xl) {
    flex-direction: row;
    align-items: center;
  }
}

.social-media {
  text-align: center;

  @media (min-width: $tablet-m) {
    text-align: left;
  }

  > li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}