@import 'hawk/_hawk-variables';
@import 'hawk/_hawk-mixins';
@import 'hawk/hawk';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: $main-font-size;
  font-family: $sans-serif-font-family;
}

a {
  @include transition(all .2s linear);
}

/***** THIS PROJECT *****/

@import 'this-project/_this-project';

/***** HEADERS *****/

.site-header {
  padding: 32px 40px;
  background: $secondary-color;
  position: relative;

  @media (min-width: $desktop-l) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: $desktop-xl) {
    padding-left: 140px;
    padding-right: 140px;
  }

  &__bar {
    //position: absolute;
    //top: 0;
    //left: 0;
    //width: 100%;
    //padding: 20px 0 0 0;
  }
}

.site-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__logo-container {

  }

  &__side-container {

  }
}

.site-title {
  font-size: 42px;

  @media (min-width: $desktop-xl) {
    font-size: 52px;
  }
}

.logo-hawk-framework {
  @extend .logo;
  width: 180px;
  height: 56px;
  background-image: url('/img/logo-hawkframework.svg');
}

/***** FOOTER *****/

.site-footer {
  &__layer {
    background: $dark-color-01;
    color: $light-color-01;
    padding: 0 20px;

    @media (min-width: $mobile-l) {
      padding: 0 40px;
    }

    @media (min-width: $desktop-l) {
      padding: 0 100px;
    }

    @media (min-width: $desktop-xl) {
      padding: 0 140px;
    }
  }

  &__wrapper {
    padding: 32px 0;

    @media (min-width: $desktop-xl) {
      padding: 48px 0;
    }
  }
}


/***** SECTIONS *****/

.site-content {
  padding: 0;
  overflow: hidden;
}

.site-section {
  &__layer {
    padding: 0 20px;

    @media (min-width: $mobile-m) {
      padding: 0 40px;
    }

    @media (min-width: $desktop-s) {
      padding: 0 60px;
    }

    @media (min-width: $desktop-m) {
      padding: 0 80px;
    }

    @media (min-width: $desktop-l) {
      padding: 0 100px;
    }

    @media (min-width: $desktop-xl) {
      padding: 0 10%;
    }
  }

  &__wrapper {
    padding: 40px 0;

    @media (min-width: $tablet-xl) {
      padding: 64px 0;
    }

    @media (min-width: $desktop-xl) {
      padding: 80px 0;
    }
  }
  &__wrapper--only-top {
    padding-bottom: 0;
  }
  &__wrapper--only-bottom {
    padding-top: 0;
  }

  &__row {
    padding: 64px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

/** END_SECTIONS **/
